extends ../layout

block content
  <div class="topnav">
  <a class="active">Home</a>
  <a href="/projects/new"> Register </a>
  <a href="/players/player">Player</a>

  </div>
  h1 Player List
  ul
    each project in players
      li
        a(href=`/players/${player._id}`)= project.Name