extends ../layout


block content
  <div class="topnav">
  <a class="active" href="#home">Create Tournament</a>
  <a href="/projects"> Go Back </a>
  <a href="/tournaments/edit"> edit </a>
  </div>
   <h1> Player Registration </h1>
   