extends ../layout

block content
h1 8 Players Registration
 <form name="Form" method="post">
    <tr>Player Name: <input name="Playername" placeholder="Enter players Name Here" type="String" required></tr>
    <br><tr>Player Name: <input name="Playername" placeholder="Enter players Name Here" type="String" required></tr>
    <br><tr>Player Name: <input name="Playername" placeholder="Enter players Name Here" type="String" required></tr>
    <br><tr>Player Name: <input name="Playername" placeholder="Enter players Name Here" type="String" required></tr>
    <br><tr>Player Name: <input name="Playername" placeholder="Enter players Name Here" type="String" required></tr>
    <br><tr>Player Name: <input name="Playername" placeholder="Enter players Name Here" type="String" required></tr>
    <br><tr>Player Name: <input name="Playername" placeholder="Enter players Name Here" type="String" required></tr>
    <br><tr>Player Name: <input name="Playername" placeholder="Enter players Name Here" type="String" required></tr>
    <br><tr>Player Name: <input name="Playername" placeholder="Enter players Name Here" type="String" required></tr>
    <br><tr>Player Name: <input name="Playername" placeholder="Enter players Name Here" type="String" required></tr>
    <br><tr>Player Name: <input name="Playername" placeholder="Enter players Name Here" type="String" required></tr>
    <br><tr>Player Name: <input name="Playername" placeholder="Enter players Name Here" type="String" required></tr>
    <br><tr>Player Name: <input name="Playername" placeholder="Enter players Name Here" type="String" required></tr>
    <br><tr>Player Name: <input name="Playername" placeholder="Enter players Name Here" type="String" required></tr>
    <br><tr>Player Name: <input name="Playername" placeholder="Enter players Name Here" type="String" required></tr>
    <br><tr>Player Name: <input name="Playername" placeholder="Enter players Name Here" type="String" required></tr>

 </form>