extends ../layout


block content
 <div class="topnav">
  <a class="active" href="#home">Create Tournament</a>
  <a href="/projects"> Go Back </a>
  //<a href="/projects/${project._id}/edit"> Edit User Profile </a>
  //<a href="/projects/${project._id}/delete"> Delete User Profile </a>
 </div>
 <h1> Create Tournaments </h1>
 <form name="Form" method="post">
    <tr>Tournament Name: <input name="Tournamentname" placeholder="Enter Full Name Here" type="String" required></tr>
    <br><tr> Short Discription <input name="Discription" placeholder="Enter Some Information" type="text"></tr>
    //<br><tr>Confirm Password: <input name="confirmpassword" placeholder=" Renter password" type="password"></tr>
    <br><tr>Start Date: <input name="StartDate" placeholder="Enter Starting date" type= "date" required></tr>
    <br><tr>End Date: <input name="EndDate" type= "date" required></tr>
    <br><tr>Create: <button> Submit </a> </button> </tr>
 </form>
