extends ../layout

block content
  <div class="topnav">
  a(href="/projects") Go Back
  a(href=`/tournaments/${project._id}/edit`) Edit Tournament
  a(href=`/tournaments/${project._id}/delete`) Delete Tournament
  </div>
  
    h2 Hello there,
    h2= project.Name
    h2= project.Tournamentname