extends ../layout

block content
  <div class="topnav">
  <a href="/tournaments/create"> Create Tournament </a>
  <a href="/tournaments/list">Go Back</a>
  </div>
  h1 Tournament List
  ul
    each project in tournaments
      li
        a(href=`/tournaments/${project._id}`)= project.Name