extends ../layout

block content
  <div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="/projects/new"> Register </a>

  </div>
  h1 User List
  ul
    each project in projects
      li
        a(href=`/projects/${project._id}`)= project.Name
